data/raw/*
!data/raw/.gitkeep
data/bronze/*
!data/bronze/.gitkeep
data/silver/*
!data/silver/.gitkeep
data/gold/*
!data/gold/.gitkeep

__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
.venv/
venv/

spark-warehouse/
metastore_db/
derby.log

logs/
airflow.cfg
airflow.db

.vscode/
.idea/
.DS_Store
